<h2 class='page-title'>
  <span class='page-title-content'>Quiz Pools</span>
  <%= link_to "New Quiz Pool", new_quiz_pool_url, class: "right page-title-link" %>
</h2>
<table class='listing-table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan='4' style='text-align: center;'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz_pools.each do |quiz_pool| %>
      <tr>
        <td><%= quiz_pool.title %></td>
        <td><%= quiz_pool.description %></td>
        <td><%= link_to 'Preview', quiz_pool %></td>
        <td><%= link_to 'Quiz Results', result_quiz_pool_url(quiz_pool) %></td>
        <td><%= link_to 'Edit', edit_quiz_pool_url(quiz_pool) %></td>
        <td><%= link_to 'Remove', quiz_pool_url(quiz_pool), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>